@model IEnumerable<SmartPantry.Models.GroceryListFood>

@{
    ViewData["Title"] = "Index";
}
<br/>
<h1>My Grocery List</h1>
<div class="indexOptionsContainer">
    <a asp-action="Create">Add Item</a>
    <form asp-controller="GroceryList" asp-action="Index" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Item" name="searchString">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a asp-action="Index"> Show All</a>
    <form asp-controller="GroceryList" asp-action="SuggestedList" class="form-inline my-2 my-lg-0">
        <input type="submit" value="Suggested Items" class="btn btn-primary" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
            Got It!
            </th>
            <th>
                Item Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @using (Html.BeginForm("Purchase", "GroceryList"))
                {
                    <div class="purchaseButton">
                        <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                        <input type="image" src="~/icons/check.svg" />
                    </div>
                }
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food.Category.Name)
                </td>
                <td>
                    <div id="quantityButtonContainer">
                        @Html.DisplayFor(modelItem => item.Quantity)
                        <div class="buttonContainer-quantity">
                            @using (Html.BeginForm("QuantityUp", "GroceryList"))
                            {
                                <div class="quantityAdjustButton">
                                    <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                                    <input type="image" src="~/icons/plus.svg" />
                                </div>
                            }@using (Html.BeginForm("QuantityDown", "GroceryList"))
                            {
                                <div class="quantityAdjustButton">
                                    <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                                    <input type="image" src="~/icons/minus.svg" />
                                </div>
                            }
                            </div>
                        </div>
</td>
                <td>
                    @using (Html.BeginForm("Delete", "GroceryList"))
                    {
                        <div class="purchaseButton">
                            <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                            <input type="image"  src="~/icons/trash.svg" />
                        </div>
                    }
                </td>
        </tr>
        }
    </tbody>
</table>