@model IEnumerable<SmartPantry.Models.Food>

@{
    ViewData["Title"] = "SuggestedList";
}

<br/>
<h4>Suggested Items</h4>


<table class="table  table-hover">
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Current Amount in Pantry
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                Add to Grocery List
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @using (Html.BeginForm("AddFromSuggestedList", "GroceryList"))
                {
                    <div class="likeButton">
                        <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                        <input type="image" src="~/icons/check.svg" />
                    </div>
                }
            </td>
            <td>
                @using (Html.BeginForm("DeleteSuggested", "GroceryList"))
                {
                    <div class="deleteButton">
                        <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                        <input type="image" src="~/icons/trash.svg" />
                    </div>
                }
            </td>
        </tr>
        }
        
    </tbody>
</table>
<div>
    <a class="btn btn-link" asp-action="Index">Back to Grocery List</a>
</div>
