@model IEnumerable<SmartPantry.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h1>My Pantry</h1>
<div class="indexOptionsContainer">
    <a asp-action="Create">Add Item</a>
    <form asp-controller="Pantry" asp-action="Index" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Item" name="searchString">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a asp-action="Index"> Show All</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id}, new {@class = "btn btn-link"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <div class="quantityButtonContainer">
                    @Html.DisplayFor(modelItem => item.Quantity)
                    @using (Html.BeginForm("QuantityUp", "Pantry"))
                    {
                        <div class="likeButton">
                            <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                            <input type="submit" value="Up" class="btn btn-primary" />
                        </div>
                    }@using (Html.BeginForm("QuantityDown", "Pantry"))
                    {
                        <div class="likeButton">
                            <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                            <input type="submit" value="Down" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
