@model IEnumerable<SmartPantry.Models.Food>

@{
    ViewData["Title"] = "Index";
}
<br/>
<h1>My Pantry</h1>
<div class="indexOptionsContainer">
    <div class="optionsGroup">
        <form class="form-inline my-2 my-lg-0">
            <button type="button" onclick="location.href='@Url.Action("Create", "Pantry")'" class="btn btn-primary">Add Item <i class="glyphicon glyphicon-search"></i></button>
        </form>
        <form asp-controller="Pantry" asp-action="Index" class="form-inline my-2 my-lg-0">
            <input type="submit" value="Show All" class="btn btn-primary indexOptions" />
        </form>
    </div>
    <form asp-controller="Pantry" asp-action="Index" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Item" name="searchString">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
               Item Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Add to Grocery List
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id}, new {@class = "btn btn-link"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <div id="quantityButtonContainer">
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <div class="buttonContainer-quantity">
                        @using (Html.BeginForm("QuantityUp", "Pantry"))
                        {
                            <div class="quantityAdjustButton">
                                <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                                <input type="image" src="~/icons/plus.svg" />
                            </div>
                        }@using (Html.BeginForm("QuantityDown", "Pantry"))
                        {
                            <div class="quantityAdjustButton">
                                <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                                <input type="image" src="~/icons/minus.svg" />
                            </div>
                        }
                    </div>
                </div>
            </td>
            <td>
                @using (Html.BeginForm("AddFromPantry", "GroceryList"))
                {
                    <div class="likeButton">
                        <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id" class="form-control" />
                        <input type="image" src="~/icons/check.svg" />
                    </div>
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "Recipes"))
                {
                    <div class="likeButton">
                        <input asp-for="@item.Name" type="hidden" value="@item.Name" name="q" class="form-control" />
                        <input type="image" src="~/icons/list.svg" />
                    </div>
                }
            </td>
        </tr>
}
    </tbody>
</table>
